body {
    margin: 0;
}

.light-gray {
    background-color: #eee;
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.wrap {
    height: auto;
    box-sizing: border-box;
}

.home, .list {
    width: 200px;
}

.big {
    width: 100%;
}

.medium {
    width: 50%;
}

.small {
    width: 30%;
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nav-bar {
    width: 60px;
    display: inline-block;
    position: absolute;
    height: 100%;
    background: #eee;
}

.popup {
    width: 200px;
    height: auto;
}

button {
    border: 0px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background: rgba(225, 225, 225, 1);
    display: inline-block;
    font-size: 1em;
    line-height: 100%;
    padding: 0.7em;
    text-decoration: none;
    opacity: 0.7;
    margin-top: 0.5em;
}

button:hover {
    background-color: rgba(200, 200, 200, 1);
}

button:active {
    background-color: rgba(150, 150, 150, 1);
}

select {
    width: 75%;
}

.setting {
    display: block;
    margin-top: 0.5em;
}

#switch {
    height: auto;
    position: relative;
    top: 80px;
}

.label {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.block {
    height: auto;
}

.create-block {
    border-bottom: 1px dashed #ececf4;
    padding-bottom: 0.5em;
}

.block span {
    width: 5%;
}

.create-item {
    box-sizing: border-box;
}

.label-item {
    display: block;
}

.label-item label {
    text-align: center;
    margin-top: 0.5em;
    position: relative;
}

.label-item label:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    position: relative;
    top: 0px;
    right: -14px;
}

.label-item label div {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 9px;
    right: 9px;
}

.label-item label.light-gray:after {
    border-color: #fff #fff #fff #eee;
}

.label-item label.pink:after {
    border-color: #fff #fff #fff pink;
}

.tab-link {
    box-sizing: border-box;
}
.tab-link.active {
    background-color: #999;
}

.tab-link img {
    width: 32px;
    height: 32px;
    margin-top: 13px;
}

/* Checked Tabs */

.tab{
    display:none;
    padding: 10px;
    box-sizing: border-box;
    left: 60px;
    position: relative;
    width: 280px;
    height: 180px;
}

.tab-share {
    width: 770px;
}


.tabs-checked input:nth-of-type(2):not(:checked) ~ input:nth-of-type(3):not(:checked) ~ .tab:nth-of-type(1),
.tabs-checked input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
.tabs-checked input:nth-of-type(3):checked ~ .tab:nth-of-type(3)
{
  display: block;
}


.tab-radio {
    display: none;
}

.tab-link {
    color: navy;
    cursor: pointer;
    height: 5em;
    background-color: #eee;
    text-align: center;
    line-height: 5em;
    display: block;
}

.tab-link:hover {
    background-color: rgba(200, 200, 200, 1);
}

/* endChecked Tabs */

/* capture */
.img-capture {
    width: 700px;
    height: 470px;
    max-width: 1400px;
    height: 500px;
}

.icon-plus {
    width: 30px;
    margin-left: 5px;
}

/* end capture */

.clearfix {
  overflow: auto;
  zoom: 1;
}